<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: html_head">
    <title>Spring Security Example </title>
</head>
<body>
<div class="container">
    <div>
        <nav th:replace="fragments :: navbar">
        </nav>

        <p th:text="${user} ? ${user.username} : ''"></p>

        <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name"> thymeleaf</span>!</h1>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>

        <a th:href="@{/login}">Login</a>

    </div>

</div>
</body>
</html>