<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments :: html_head">
    <title>Spring Security Example </title>
</head>
<body>
  <div class="container">
    <nav th:replace="fragments :: navbar">
    </nav>

    <div th:if="${param.error}">
      Invalid username and password.
    </div>
    <div th:if="${param.logout}">
      You have been logged out.
    </div>

    <h1>Login page</h1>

    <div class="" sec:authorize="isAuthenticated()">
        Hello isAuthenticated person
    </div>

    <div th:if="${message}">
      <span th:text="${message}" class="link-danger"></span>
    </div>

    <div class="col-3">
      <form th:action="@{/login}" method="post">

        <div class="mb-3">
          <label for="username" class="form-label">User Name:</label>
          <input name="username" type="text" class="form-control" id="username" placeholder="Alex">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input name="password" type="text" class="form-control" id="password">
        </div>

        <div class="mb-3">
          <input class="btn btn-success" type="submit" value="Login"/>
        </div>
<!--        <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--        <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--        <div><input type="submit" value="Sign In"/></div>-->
      </form>
    </div>

  </div>
</body>
</html>