<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head ">
</head>
<body>
<div class="container">

    <nav th:replace="fragments :: navbar">
    </nav>

    <div>
        <form  class="row g-3 needs-validation" novalidate th:action="@{/main}" method="post" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="text" class="form-label">Write message</label>
                <input type="text"
                       th:class="${textError} ? 'form-control is-invalid' : 'form-control'"
                       th:value="${message} ? ${message.text} : ''"
                       id="text" name="text">
                <div class="invalid-feedback" th:text="${textError}" >
                    Please provide a valid city.
                </div>
            </div>

            <div class="col-md-6">
                <label for="tag" class="form-label">Write Tag</label>
                <input type="text" name="tag" id="tag"
                       th:class="${tagError} ? 'form-control is-invalid' : 'form-control'"
                       th:value="${message} ? ${message.tag} : ''"
                >

                <div class="invalid-feedback" th:text="${tagError}" >
                    Please provide a valid city.
                </div>
            </div>

            <div class="input-group mb-3">
                <input name="file" type="file" class="form-control" id="file">
                <label class="input-group-text" for="file">Upload</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>

    <div>
        <form method="get" th:action="@{/main}">
            <input type="text" name="filter" placeholder="any tag">
            <button type="submit">Find</button>
        </form>
    </div>
    <br>

    <div class="container text-center">
        <div class="row row-cols-4">
            <div th:each="message : ${messages}" class="col">
                <figure class="figure">
                    <div th:if="${message.filename}">
                        <img th:src="@{${'img/' + message.filename}}" class="figure-img img-fluid rounded" alt="...">
                    </div>

                    <figcaption class="figure-caption">
                        <b th:text="${message.id}"></b>
                        <span th:text="${message.text}"></span>
                        <i th:text="${message.tag}"></i>
                        <strong th:text="${message.authorName}"></strong>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments :: scripts">
</div>
</body>
</html>