<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head ">
</head>
<body>
<div class="container">
    <nav th:replace="fragments :: navbar">
    </nav>

    <h3>Registration</h3>

    <div th:if="${message}">
        <span th:text="${message}" class="link-danger"></span>
    </div>

   <div class="row">
       <div class="col-lg-4">
           <form th:action="@{/registration}" method="post">
               <div class="mb-3">
                   <label for="username" class="form-label">User Name:</label>
                   <input name="username" type="text" class="form-control" id="username" placeholder="Alex">
               </div>

               <div class="mb-3">
                   <label for="password" class="form-label">Password:</label>
                   <input name="password" type="text" class="form-control" id="password">
               </div>

               <div class="mb-3">
                   <input class="btn btn-success" type="submit" value="Sign Up"/>
               </div>
           </form>
       </div>
   </div>

</div>
</body>
</html>