<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
    <h3>User List</h3>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="users: ${users}">
                <td th:text="${users.username}"></td>
                <td>
                    <span th:each="role : ${users.roles}" th:text="${role}">,</span>
                </td>
                <td><a th:href="@{'/user/' + ${users.id}}">edit</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>