<div th:fragment="messageList" class="container text-center">
    <div class="row row-cols-4">
        <div th:each="message : ${messages}" class="col">
            <figure class="figure">
                <div th:if="${message.filename}">
                    <img th:src="@{${'/img/' + message.filename}}" class="figure-img img-fluid rounded" alt="...">
                </div>

                <figcaption class="figure-caption">
                    <b th:text="${message.id}"></b>
                    <span th:text="${message.text}"></span>
                    <i th:text="${message.tag}"></i>
                    <br>

                    <div>
                        <a th:href="@{${'/user-messages/' + message.author.id}}" th:text="${message.authorName}"></a>
                        <a class="btn btn-primary" th:href="@{${'/user-messages/' + message.author.id + '?message=' + message.id}}" th:text="Edit"></a>
                    </div>

                </figcaption>
            </figure>
        </div>
    </div>
</div>